name: Backend CI/CD Pipeline

on:
  push:
    branches: ["main"]
    paths:
      - "starttech-application/Server/**"

jobs:
  test:
    name: Test and Scan Go app
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          cache: true
          cache-dependency-path: starttech-application/Server/MuchToDo/go.sum

      - name: Download dependencies
        working-directory: starttech-application/Server/MuchToDo
        run: go mod download

      - name: Run unit tests
        working-directory: starttech-application/Server/MuchToDo
        run: go test ./... -v -race || echo "Race test failed, review manually"
        
      - name: Run  Integration Test
        working-directory: starttech-application/Server/MuchToDo
        run: INTEGRATION=true go test -v --tags=integration ./...

      - name: Code quality (golangci-lint)
        uses: golangci/golangci-lint-action@v6
        with:
          working-directory: starttech-application/Server/MuchToDo
          version: v1.64.8

      - name: Vulnerability Scan
        working-directory: starttech-application/Server/MuchToDo
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
          govulncheck ./... || echo "Vulnerabilities detected"

  # build:
  #    name: Build and Push Docker Image
  #    runs-on: ubuntu-latest
  #    needs: test


  #    steps:
  #      - uses: actions/checkout@v4

       
  #      - name: Configure AWS credentials
  #        uses: aws-actions/configure-aws-credentials@v4
  #        with:
  #         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #         aws-region: ${{ secrets.AWS_REGION }}

       # - name: Login to Amazon Ecr
       #   uses: aws-actions/amazon-ecr-login@v2
       #   with:
       #     username: ${{secrets.DOCKERHUB_USERNAME}}
       #     password: ${{secrets.DOCKERHUB_TOKEN}}


       # - name: Build Docker Image
       #   working-directory: starttech-application/Server/MuchToDo
       #   run: |
       #     docker build -t backend:${{github.sha}} .

       # - name: Scan Docker Image
       #   uses: aquasecurity/trivy-action@0.33.1
       #   with:

       #     image-ref: backend:${{github.sha}}
       #     severity: CRITICAL,HIGH
       # - name: Tag & push image
       #   env:
       #       AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
       #       AWS_REGION: ${{ secrets.AWS_REGION }}
       #       ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
       #   run: |

       #    aws ecr get-login-password --region $AWS_REGION | \
       #      docker login --username AWS --password-stdin $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com
       #    IMAGE_URI=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.ECR_REPOSITORY }}:${{ github.sha }}
       #    IMAGE_LATEST=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.ECR_REPOSITORY }}:latest

       #    docker tag backend:${{ github.sha }} $IMAGE_URI
       #    docker tag backend:${{ github.sha }} $IMAGE_LATEST
          
       #    docker push $IMAGE_URI
       #    docker push $IMAGE_LATEST

       # - name: Tag Image
       #   run: | 
       #    IMAGE_URI=${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKER_IMAGE_NAME }}:${{ github.sha }}
       #    docker tag backend:${{ github.sha }} $IMAGE_URI
       #    docker push $IMAGE_URI

  build-and-deploy:
     name: Deploy to EC2 (ASG)
     runs-on: ubuntu-latest
     needs: test

     steps:
       - name:  Checkout Source
         uses: actions/checkout@v4


       - name: Setup GO
         uses: actions/setup-go@v5
         with:
           go-version: 1.22

       - name: Cache Go Module
         uses: actions/cache@v4
         with: 
           path:
             ~/go/pkg/mod
             ~/.cache/go-build
           key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
       - name: Build Go Binary
         working-directory: starttech-application/Server/MuchToDo
         run: | 
           CGO_ENABLED=0 GOOS=linux GOARCH=amd64 \
           go build -o server ./cmd/api/
       - name: Configure AWS credential
         uses: aws-actions/configure-aws-credentials@v4
         with:

          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: ${{secrets.AWS_REGION}}

       - name: Upload artifacts to s3
         working-directory:  starttech-application/Server/MuchToDo
         run: |
           aws s3 cp server s3://${{ secrets.S3_BUCKET }}
           aws s3 cp deploy/starttech-backend.service  \
             s3://${{ secrets.S3_BUCKET }} \

           aws s3 cp deploy/fetch-ssm-env.sh \
           s3://${{secrets.S3_BUCKET}}

       - name: Trigger ASG
         run: |
          aws autoscaling start-instance-refresh \
          --auto-scaling-group-name ${{ secrets.ASG_NAME }} \
          --preferences MinHealthyPercentage=90,InstanceWarmup=120

     #   - name: Smoke test
     #     run: |
     #       sleep 60
     #       curl -f http://main-alb-195338730.eu-west-1.elb.amazonaws.com/health
           
         

          
         

           


     steps:
       - name: Configure AWS credential
         uses: aws-actions/configure-aws-credentials@v4
         with:

           aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
           aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
           aws-region: ${{secrets.AWS_REGION}}
       - name: Trigger ASG
         run: |
           aws autoscaling start-instance-refresh \
           --auto-scaling-group-name ${{ secrets.ASG_NAME }} \
           --preferences MinHealthyPercentage=90,InstanceWarmup=120


      
   
         
         
          
